<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Cadastro de Produto</h3>
        </div>
        <div class="card-body">
            <form action="/salvarProduto" method="post">
                <label>Nome</label>
                <input type="text" name="nome" id="nomeProd" placeholder="Digite um nome..." class="form-control"><br/>
                <label>Descrição</label>
                <textarea name="descricao" id="descProd" placeholder="Descreva seu produto..." cols="30" rows="10" class="form-control">
                </textarea><br/>
                <button class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>

</div>

<%- include('partials/footer') %>